body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
}

img{
    object-fit: scale-down;
    max-width: 50vmin;
    max-height: 50vmin;
    border: 1px solid black;
}