body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

img {
    object-fit: scale-down;
    max-width: 50vmin;
    max-height: 50vmin;
    border: 1px solid black;
}

canvas {
    border: 1px solid black;
}

p {
    max-width: 75vw;
    margin-top: 0pt;
    margin-bottom: 0pt;
}

p.warning {
    color: rgb(240, 54, 8);
}